[Unit]
Description=Exam Jingga DATH Stack CBT Gunicorn Application Server
After=network.target postgresql.service

[Service]
Type=simple
User=ubuntu
Group=www-data
WorkingDirectory=/opt/exam-jingga
EnvironmentFile=/opt/exam-jingga/.env
Environment="DJANGO_SETTINGS_MODULE=config.settings.production"
Environment="PATH=/opt/exam-jingga/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/opt/exam-jingga/.venv/bin/gunicorn -c scripts/gunicorn_conf.py config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=15
PrivateTmp=true
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
